nav {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: 1fr auto; */
    align-items: center;
    background: rgb(148, 46, 46);
    font-family: sans-serif;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 10;
    justify-content: space-between;


}

nav .logo {
    font-size: 24px;
    font-weight: black;
    width: 60px;
    height: auto;


}

.usuarioLogeado {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin-left: auto;
    padding: 0 1rem;
    white-space: nowrap;
}

nav .barnav {
    flex-grow: 1;
    text-align: center;
}


nav .barnav h1 {
    margin-left: 10rem;

    display: inline;
    font-size: 1.5rem;
    font-weight: bolder;
    color: black;
    padding: 10px 5px;
    white-space: nowrap;
}


/* ----------------------------- Medias Queries ----------------------------- */


@media (max-width: 720px) {
    nav .barnav {
        left: 25%;
    }

    nav .barnav h1 {
        margin-left: 5rem;
    }
}

@media (max-width: 580px) {


    nav .barnav h1 {
        margin-left: 0rem;
    }
}