.pie{
    background:black;
    color: blanchedalmond;
    font-family: sans-serif;
    font-size: xx-small;
    position: absolute;
    left: 0;
    height: 2.5rem;
    bottom: 0;
    width:100vw;
    justify-content: center;
} 

.parraf{
    
    text-align: center;

}