*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100%;
    position: relative;
}

:root {
    margin: 0;
    background-color: rgb(59, 58, 58);
    padding-bottom: 2.5rem;

}